In [36]:
for i in range(10):
  for j in range(0,i+1):
    print(" ",end=" ")
  for j in range(10):
    print("D",end=" ")
  print()

  D D D D D D D D D D
    D D D D D D D D D D
      D D D D D D D D D D
        D D D D D D D D D D
          D D D D D D D D D D
            D D D D D D D D D D
              D D D D D D D D D D
                D D D D D D D D D D
                  D D D D D D D D D D
                    D D D D D D D D D D

In [37]:
for i in range(8):
  for j in range(0,i+1):
    print(" ",end=" ")
  for j in range(8):
    print("R",end=" ")
  print()

  R R R R R R R R
    R R R R R R R R
      R R R R R R R R
        R R R R R R R R
          R R R R R R R R
            R R R R R R R R
              R R R R R R R R
                R R R R R R R R

In [38]:
for i in range(5):
  for j in range(0,i+1):
    print(" ",end=" ")
  for j in range(5):
    print("S",end=" ")
  print()

  S S S S S
    S S S S S
      S S S S S
        S S S S S
          S S S S S

In [39]:
for i in range(10):
  for j in range(i+1,10):
    print(" ",end=" ")
  for j in range(10):
    print("RDS",end=" ")
  print()

                  RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
                RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
              RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
            RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
          RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
        RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
      RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
    RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
  RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS
RDS RDS RDS RDS RDS RDS RDS RDS RDS RDS

In [55]:
row = 5
col = 5
for i in range(0,row):
    for j in range(0,col):
        if i == 0 or j == 0 or i == row-1 or j == col-1 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [56]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0,i*2+1):
    print("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [58]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0,i*2+1):
    print(chr(65 +j),end=" ")
  print()

            A
          A B C
        A B C D E
      A B C D E F G
    A B C D E F G H I
  A B C D E F G H I J K
A B C D E F G H I J K L M

In [59]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0,i*2+1):
    print(chr(97 +j),end=" ")
  print()

            a
          a b c
        a b c d e
      a b c d e f g
    a b c d e f g h i
  a b c d e f g h i j k
a b c d e f g h i j k l m

In [65]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
      print(" ",end=" ")
  for j in range(0,i*2+1):
      print("*",end=" ")
  print()
for i in range(0,num):
  for j in range(0,i):
      print(" ",end=" ")
  for j in range(0,(num-i)*2-1):
      print("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [67]:
def Example():
  print("Good Afternoon")

Example()

Good Afternoon

In [68]:
def fun(num):
  return num*num

fun(4)

16

In [71]:
def add(a,b):
  print(f'Addition of two numbers is {a+b}')
add(5,10)

Addition of two numbers is 15

In [74]:
items = ["milk", "Bread", "Eggs"]
print("-".join(items))

milk-Bread-Eggs

In [89]:
def Example(roll_number,name,section,department,college):
    print(f"My name is {name},i'm studing {department} in {college} college.My roll_number is {roll_number} and section is {section}")
Example(101,"Dnyanu",'A',"BCA","KLE")

My name is Dnyanu,i'm studing BCA in KLE college.My roll_number is 101 and section is A

In [92]:
def fun(name,game,time):
  print(f"I'm {name}; i'm playing {game} at {time} time")
fun(time = "Evening",name = "Dnyanu",game = "Cricket")

I'm Dnyanu; i'm playing Cricket at Evening time

In [93]:
def Laptop(name = "Lenovo"):
  print(f"My laptop name is :",name)
Laptop("Dell")
Laptop("HP")
Laptop()
Laptop("Asus")

My laptop name is : Dell
My laptop name is : HP
My laptop name is : Lenovo
My laptop name is : Asus