In [ ]:
a,b,c = "Good","Morning",18
print(a,b,c)

Good Morning 18

In [ ]:
Name, College,Degree, Roll = "Sharath", "BK", "BCA", 101
print("Hi, Good Morning, I'm", Name,"i'm studing", Degree,"in",College,"College at chikodi","my roll number is",Roll)

Hi, Good Morning, I'm Sharath i'm studing BCA in BK College at chikodi my roll number is 101

In [ ]:
x = y = z = 1001
print(x,y,z)

1001 1001 1001

In [ ]:
A = B = C = "collage", 25
print(A,B,C)

('collage', 25) ('collage', 25) ('collage', 25)

In [ ]:

A = 10
B = 20
print("Addition of", A,"&",B,"is 30")

Addition of 10 & 20 is 30

In [ ]:
A = B = c = "college", 25
print(A,B,C)

('college', 25) ('college', 25) ('collage', 25)

In [ ]:
A = 10
print(type(A))

<class 'int'>

In [24]:
x = 35
print(type(x))

<class 'int'>

In [25]:
college = -100
print(type(college))

<class 'int'>

In [26]:
system = +200
print(type(system))

<class 'int'>

In [27]:
value = -9
print(type(value))

<class 'int'>

In [28]:
number = 10001
print(type(number))

<class 'int'>

In [29]:
value = 3.33
print(type(value))

<class 'float'>

In [32]:
Name = -100.33
print(type(Name))

Run = +20.0
print(type(Run))

<class 'float'>
<class 'float'>

In [35]:
yes = True
print(type(yes))

<class 'bool'>

In [36]:
yes = 18
print(type(yes))

<class 'int'>

In [37]:
yes = False
print(type(yes))

<class 'bool'>

In [38]:
yes = "False"
print(type(yes))

<class 'str'>

In [40]:
Roll_number = "101"
print(type(Roll_number))

<class 'str'>

In [41]:
value = 27.12
print(type(value))

<class 'float'>

In [42]:
Section = C
print(type(Section))

<class 'tuple'>

In [43]:
programe = "programe"
print(type(programe))

<class 'str'>

In [44]:
string = "python programming languages"
print(string)

python programming languages

In [45]:
print(type(string))

<class 'str'>

In [72]:
# string = "python programming languages"
# print(string)

# print(type(stringf))

first = "BKC"
second = "college"
print(((first+" "+second)+"\n")*5)

BKC college
BKC college
BKC college
BKC college
BKC college

In [64]:
first = "BKC"
second = "College"
print(first, second)

BKC College

In [87]:
Name = ("Python programming Languages")
print(Name[5])
print(Name[-2])
print(Name[18])
print(Name[3:14])
print(Name[:20])
print(Name[6:])
print(Name[:-1])
print(Name[-22:-4])
print(Name[::1])
print(Name[::2])
print(Name[::-1])
print(Name[::-3])

n
e

hon program
Python programming L
 programming Languages
Python programming Language
 programming Langu
Python programming Languages
Pto rgamn agae
segaugnaL gnimmargorp nohtyP
san iao hP

In [89]:
# Hi Good Morning 'Single line comment'
Details ='''multi line comments
hi, Good Morning
'''
print(Details)

multi line comments
hi, Good Morning

In [94]:
Roll_Number = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
print(Roll_Number)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60)

In [100]:
list1 = [101]
print(list1)
print(type(list1))
list1.append("Dnyanu")
print(list1)

[101]
<class 'list'>
[101, 'Dnyanu']

In [138]:
details = [101]
print(details)
print(type(details))
details.append(85.12)
print(details)
details.append(True)
print(details)
print(len(details))
print(details.pop())
print(details)
details.append("dnyanu")
print(details)
details.append("-99")
print(details)
print(len(details))
print(details[2])
print(details[-1])
details.append("BKC collage")
print(details)
details[3] = 99
print(details)
print(details[2:4])
details.insert(2,False)
print(details)
details.remove(False)
print(details)
print(len(details))
print(details[4])
print(details[::-2])
print(details.count(101))
print(details.clear())
print(details)
print(type(details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'dnyanu']
[101, 85.12, 'dnyanu', '-99']
4
dnyanu
-99
[101, 85.12, 'dnyanu', '-99', 'BKC collage']
[101, 85.12, 'dnyanu', 99, 'BKC collage']
['dnyanu', 99]
[101, 85.12, False, 'dnyanu', 99, 'BKC collage']
[101, 85.12, 'dnyanu', 99, 'BKC collage']
5
BKC collage
['BKC collage', 'dnyanu', 101]
1
None
[]
<class 'list'>

In [149]:
Information = [102]
print(Information)
print(type(Information))
Information.append(94.56)
print(Information)
Information.append(True)
print(Information)
print(len(Information))
print(Information.pop())
print(Information)
Information.append("ramya")
print(Information)
Information.append("-89")
print(Information)
print(len(Information))
print(Information[2])
print(Information[-1])
Information.append("BKC college")
print(Information)
Information[3] = 89
print(Information)
print(Information[2:4])
Information.insert(2,False)
print(Information)
Information.remove(False)
print(Information)
print(len(Information))

[102]
<class 'list'>
[102, 94.56]
[102, 94.56, True]
3
True
[102, 94.56]
[102, 94.56, 'ramya']
[102, 94.56, 'ramya', '-89']
4
ramya
-89
[102, 94.56, 'ramya', '-89', 'BKC college']
[102, 94.56, 'ramya', 89, 'BKC college']
['ramya', 89]
[102, 94.56, False, 'ramya', 89, 'BKC college']
[102, 94.56, 'ramya', 89, 'BKC college']
5