In [108]:
 a = 10
 print(type(a))
 b = 3
 print(type(b))
 c = a+b
 print(type(c))
 print(type(a/b))
 x = 2.5
 y = 3.5
 print(type(x + y))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

In [109]:
# int -> float
i = 20
j = 5.5
k = i + j
print(type(k))

<class 'float'>

In [110]:
# int -> float
a = 49
b = 7
print(type(a/b))

<class 'float'>

In [111]:
i = True
j = 5
print(type(i+j))
print(type(i))

<class 'int'>
<class 'bool'>

In [112]:
m = 2.9
n = False
o = m - n
print(type(o))

<class 'float'>

In [113]:
p = True
q = False
r = p + q
print(type(r))

s = 2.5
t = False
print(type(s * t))

num = 3.12
print(type(num))

add = int(num)
print(type(add))

num = float(add)
print(type(num))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>

In [114]:
mul = float(add)
print(type(mul))

num = "101"
print(type(num))

add = int(num)
print(type(add))

num= True
print(type(num))


add = int(num)
print(type(add))
men = 34
print(type(men))

<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'int'>

In [115]:
print(type(str(100)))

print(type(bool(True)))
a = 2.3
print(type(a))
print(type(str(a)))

<class 'str'>
<class 'bool'>
<class 'float'>
<class 'str'>

In [124]:
a = False
print(type(a))
print(type(float(a)))

Ex = float(a)
print(type(Ex))
print(type(str(Ex)))

demo ="9"
print(type(demo))
print(type(float(demo)))

demo = "ramya"
print(type(demo))
print(type(list(demo)))

ex = (1,2,3,)
print(type(ex))
print(type(list(ex)))

ex = {1,2,5,4}
print(type(ex))
print(type(list(ex)))

name = {"neme": "sanyu"}
print(type(name))
print(type(list(name)))
a = "67"
print(type(a))
print(type(tuple(a)))

ex = [101]
print(type(ex))
print(type(tuple(ex)))

a = {1,2,3,4}
print(type(a))
print(type(tuple(a)))

name = {}
print(type(name))
print(type(tuple(name)))

a = "sanyu"
print(type(a))
print(type(set(a)))

a = [102]
print(type(a))
print(type(set(a)))

a ="abc"
print(type(a))
print(type(set(a)))

a = (1,2,3,4)
print(type(a))
print(type(set(a)))

a ={}
print(type(a))
print(type(set(a)))

num ={("r_n",501),("section","c")}
print(type(num))

num = (("name","sanyu"),("age",25))
print(type(num))

a =[109]
print(type(a))

#a=10, b=20
#a=20, b=10
a=10
b=20
print("before swapping")
print("a=",a,"b=",b)
print("after swapping")
temp=a;
a=b;
b=temp;
print("a=",a,"b=",b)

a=10
b=20
print("before swapping")
print("a=",a,"b=",b)
print("after swapping")
c=a;
a=b;
b=c;
print("a=",a,"b=",b)

<class 'bool'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'list'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'tuple'>
<class 'str'>
<class 'set'>
<class 'list'>
<class 'set'>
<class 'str'>
<class 'set'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'set'>
<class 'set'>
<class 'tuple'>
<class 'list'>
before swapping
a= 10 b= 20
after swapping
a= 20 b= 10
before swapping
a= 10 b= 20
after swapping
a= 20 b= 10